
body {
  padding: 0;
  margin: 0;
}

.main {
  text-align: center;
}

table {
  border-collapse: collapse;
  overflow-y: scroll;
  height: 250px;
  width: 15vw;
  display: block;
}

table,
th,
td {
  border: 1px solid black;
  margin: auto;
  padding: 3px;
}

.footer {
  margin: 1rem auto 1rem auto;
  text-align: center;
}

.footer > p {
  margin: 0;
}

.info {
  margin: auto;
  width: 60%;
}
